body {
    background-color: dimgray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.cadastros {
    background-color: darkgrey;
    width: 300px;
    padding: 30px;
  
}
.menuitem a {
    display: block;
    text-decoration: none;
    color: #000;
    padding: 10px;
    }
    

header {
    background-color: gray;
    text-align: center;
    padding: 20px;
   
}

form {
    display: flex;
    flex-direction: column;
}


input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
}


