table {
    width: 300px;
    }
    td {
    background-color: blueviolet;
    }
    a:hover {
    border: dashed;
    }
    
        
    
    .menuitem a {
        display: block;
        text-decoration: none;
        color: #000;
        padding: 10px;
    }
            
